@namespace BCSSViewer.Docs
@inherits MudComponentBase
@inject BcssService Bc

<div class="@Class" style="@Style">
    <MudText Class="@Class" Typo="Typo.h6">@Title</MudText>
    <MudText>@Description</MudText>
    @if (string.IsNullOrEmpty(Code) == false)
    {
        <div class="@Bc["flow-auto mt-4 pa-16 line-height--150% bg-[--mud-palette-background-grey]"]">
            <pre><code>@Code</code></pre>
        </div>
    }
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public string? Code { get; set; }
}
