<Router AppAssembly="@typeof(BCSSViewer.Docs.Pages.Index).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BCSSViewer.Docs.Shared.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(BCSSViewer.Docs.Shared.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<MudThemeProvider Theme="_bcssTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<BlazorCssProvider />

@code {
    MudTheme _bcssTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = "#313B72",
                Secondary = "#F45B69",
                Tertiary = "#EEF4D4",
            },
        };
}
